<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to the site!</h1>
    <p>Here are the latest messages:</p>
    {{#each names}}
      {{#latestmessages this}}
        {{> messages this}}
      {{/latestmessages}}
    {{/each}}
  </body>
</html>
