<html>
  <head>
    <title>Home Page</title>
  </head>
  <body>
    <h1>Greetings {{name}}!</h1>
    <p>Welcome to the site!  Here are the latest messages:</p>
    {{#latestmessages messages}}
      {{> messages this}}
    {{/latestmessages}}
  </body>
</html>
